/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body
{
	background-color: #f4f0e6;
}

body.visible
{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

*
{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 20px;
}

/*rozmieszczenie zdjęć na stronie*/
.flex-container
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

/*nagłówek*/
header
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100vw;
	height: 10vh;
	padding: 10px;
	margin: 0px 4px 10px 4px;
}

h1
{ 
	font-family: 'Open Sans', sans-serif;
	font-size: 2.5rem; 
	letter-spacing: 4px; 
	color: #7d7d7d;
}

/*kolumny*/
.column
{
	
	width: 25%;
	padding: 0 4px;
}

/*zdjęcia*/
.column img
{
	width: 100%;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	margin-top: 8px;
	vertical-align: middle;
}

.column img:hover
{
	-webkit-transform: scale(1.1,1.1);
	    -ms-transform: scale(1.1,1.1);
	        transform: scale(1.1,1.1);
	cursor: pointer;
}

/*podgląd zdjęć po naciśnięciu*/
.bigPicture
{
	display: none;	
}

.bigPicture.visible
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-pack: center; 
	    -ms-flex-pack: center; 
	        justify-content: center; 
	-webkit-box-align: center; 
	    -ms-flex-align: center; 
	        align-items: center;
	position: fixed;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	z-index: 1;
	background: rgba(0,0,0,0.5);
	-webkit-backdrop-filter: blur(4px);
	        backdrop-filter: blur(4px);
}

/*zdjęcie po kliknięciu*/
.bigPhoto
{
	width: 60%; 
	height: auto; 
	cursor: default;
}

/*przycisk zamykający podgląd*/
.exit
{
	display: none;
	position: fixed;
	top: 4%;
	left: 96%;
	border: none;
	background: transparent;
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	color: #f4f0e6;
	opacity: 0.5;
}

.exit:hover
{
	opacity: 1;
}

/*przycisk odpowiadający za przełączanie do przodu*/
.next
{
	display: none;
}

.next.visible
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 49vh;
	left: 76vw;
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	color: #f4f0e6;
	opacity: 0.5;
	z-index: 1;
}

.next:hover{ opacity: 1; }

/*przycisk odpowiadający za przełączanie do przodu*/
.back
{
	display: none;
}

.back.visible
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 49vh;
	left: 20vw;
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	color: #f4f0e6;
	opacity: 0.5;
	z-index: 1;

}

.back:hover{ opacity: 1; }

@media screen and (max-width: 1500px)
{
	.next.visible { left: 75vw; }
}

@media screen and (max-width: 1300px)
{
	.next.visible { left: 74vw; top: 48vh; }
	.back.visible { top: 48vh; }

}

@media screen and (max-width: 1100px)
{
	.next.visible { left: 73vw; }
	.exit { top: 4%; left: 92%; }
}

@media screen and (max-width: 900px)
{
	.next.visible { left: 72vw; }
}

@media screen and (max-width: 800px)
{
	.column
	{
		-webkit-box-flex: 50%;
		    -ms-flex: 50%;
		        flex: 50%;
		max-width: 50%;
	}
	.exit { left: 92%; }
	.next.visible { left: 76vw;}
	.back.visible { left: 15vw; }
	.bigPhoto { width: 70%; }
}

@media screen and (max-width: 700px)
{
	.column
	{
		-webkit-box-flex: 50%;
		    -ms-flex: 50%;
		        flex: 50%;
		max-width: 50%;
	}
	.next.visible { left: 75vw;}
	.back.visible{ left: 15vw; }
	.bigPhoto { width: 70%; }
}

@media screen and (max-width: 600px)
{
	.column
	{
		-webkit-box-flex: 100%;
		    -ms-flex: 100%;
		        flex: 100%;
		max-width: 100%;
	}

	.bigPicture.visible { display: none; }
	body.visible { margin: 8px; overflow: visible; }
	.column img:hover { -webkit-transform: scale(1,1); -ms-transform: scale(1,1); transform: scale(1,1); cursor: default; }

}